.choices {
    display: flex;
    align-items: center;
    gap: 6rem;
}
.choices h2 {
    text-transform: uppercase;
    color: #FAFAFA;
}
.player-choice, .house-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.paper {
    background: radial-gradient(var(--paperOne), var(--paperTwo));
}
.scissors {
    background: radial-gradient(var(--scissorsOne), var(--scissorsTwo));
}
.rock {
    background: radial-gradient(var(--rockOne), var(--rockTwo));
}
.choiceWrapper, .houseWrapper {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.houseWrapper {
    background-color: rgba(20, 21, 57, 0.3);
    /* opacity: 0.3; */
}
.choiceBtn, .houseBtn {
    position: absolute;
    background-color: #FAFAFA;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 7px 0 rgba(0,0,0,0.15)
}
.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.result h1 {
    text-transform: uppercase;
    color: #FAFAFA;
}
.result button {
    background-color: #FAFAFA;
    border: none;
    text-transform: uppercase;
    padding: 0.8rem 3rem;
    border-radius: 10px;
    font-size: 0.8rem;
    cursor: pointer;
}

@media (max-width: 698px) {
    .choices {
        width: 100%;
        gap: 3rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 1rem;
    }
    .player-choice, .house-choice {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .choiceWrapper, .houseWrapper {
        width: 130px;
        height: 130px;
    }
    .choiceBtn, .houseBtn {
        width: 90px;
        height: 90px;
    }
}
